<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title></title>
	</head>
	
	
	<body>
	
		<h2>
			Penambahan Product
		</h2>
	
		<form th:object="${product}" th:action="@{/product/form-simpan}" method="POST">
			<table>
				<tr>
					<td>Product Name</td>
					<td><input type="text" th:field="*{name}"/></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				
				<tr>
					<td>Price Product</td>
					<td><input type="number" th:field="*{price}"/></td>
					<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></td>
				</tr>
				
				<tr>
					<td>Stock Product</td>
					<td><input type="number" th:field="*{stock}"/></td>
					<td th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></td>
				</tr>
			</table><br/>
			<input type="submit" value="Simpan Product"/>
		</form>
	
		
	
	</body>
	
</html>